<table>
	<tr>
		<td class="label">User ID:</td>
		<td class="field"><input type="text" name="term" value="" id="user" class="textField"/>(Use "all" to send to all.)</td>
	</tr>
	<tr>
		<td class="label">Title:</td>
		<td class="field"><input type="text" name="term" value="" id="title" class="textField"/></td>
	</tr>
	<tr>
		<td class="label">Content:</td>
		<td class="field"><textarea name="content" rows="38" cols="80" id="content"></textarea></td>
	</tr>
</table>

<input type="submit" name="submit" value="Send" id="send">